<% content_for :title, "Đăng Ký" %>
<div class="col-md-auto">
  <div class="row justify-content-center margin-top-50">
    <div class="col-md-4 card p-3">
      <h2 class="text-center">Đăng Ký</h2>
      <hr>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :user_name, "Tên Đăng Nhập", class: "form-label", for: "username-input" %>
          <%= f.text_field :user_name, autofocus: true, class: "form-control", id: "username-input" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, "Email", class: "form-label", for: "email-input" %>
          <%= f.email_field :email, autofocus: true, class: "form-control", id: "email-input" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "Mật Khẩu", class: "form-label", for: "password-input" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, class: "form-control", id: "password-input" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "Nhập lại mật khẩu", class: "form-label", for: "password-confirmation-input" %>
          <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", id: "password-confirmation-input" %>
        </div>

        <div class="actions mb-3 justify-content-center flex-column align-items-center d-flex">
          <%= f.submit "Đăng Ký", class: "btn btn-primary container-fuild" %>
          <div class="mt-2 justify-content-center d-flex">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

