<% content_for :title, "Quản lý bình chọn" %>
<div class='card'>
  <div class='card-header'>
    <h4>Quản lý bình chọn</h4>
  </div>
  <div class="card-body">
    <div class="row justify-content-end mb-2">
      <div class="col-md-6">
        <%= form_with url: admin_polls_path, method: :get, class: "d-flex" do |form| %>
          <div class="input-group">
            <%= form.text_field :title, value: params[:title], class: 'form-control shadow-none', placeholder: 'Search', aria: { label: 'Search' } %>
            <button class="btn btn-primary px-4" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex flex-row-reverse my-3">
      <%= link_to "Tạo mới", new_admin_poll_path(), class: "p-1 btn btn-primary" %>
    </div>

    <div class='table-responsive'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Expires At</th>
            <th scope="col">Options</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @polls.each do |poll| %>
            <tr>
              <th scope="row"><%= poll.id %></th>
              <td><%= poll.title %></td>
              <td class='text-truncate' style="max-width: 150px;"><%= poll.description %></td>
              <td>
                <% if poll.persisted? && poll.image.attached? %>
                  <%= image_tag poll.image.variant(resize_to_limit: [100, 100]) %>
                <% end %>
              </td>
              <td><%= poll.expires_at&.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= poll.options.count %></td>
              <td>
                <div class="d-flex flex-wrap gap-2">
                  <%= link_to edit_admin_poll_path(poll), class: "btn btn-primary btn-sm" do %>
                    <%= icon('fa', 'pen')%>
                  <% end %>

                  <%= link_to analytic_admin_poll_path(poll), class: "btn btn-info btn-sm" do %>
                    <%= icon('fa', 'signal')%>
                  <% end %>

                  <%= button_to admin_poll_path(poll), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
                    <%= icon('fa', 'trash')%>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @polls %>
    </div>
  </div>
</div>