<div class='card'>
  <div class='card-header'>
    <h4><%= actionText %></h4>
  </div>
  <div class='card-body'>
    <% if @poll.errors.any? %>
      <div class="alert alert-danger">
        <h4>Errors:</h4>
        <ul>
          <% @poll.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @poll, local: true, html: { multipart: true }) do |form| %>
      <div class="mb-3 form-group">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="mb-3 form-group">
        <%= form.label :description, class: 'form-label' %>
        <%= form.text_area :description, size: '50x10', class: 'form-control' %>
      </div>

      <div class="mb-3 form-check">
        <%= form.label :allows_multiple, class: 'form-check-label' %>
        <%= form.check_box :allows_multiple, class: 'form-check-input' %>
      </div>

      <div class="mb-3 form-check">
        <%= form.label :anonymous, class: 'form-check-label' %>
        <%= form.check_box :anonymous, class: 'form-check-input' %>
      </div>

      <% if @poll.persisted? && @poll.image.attached? %>
        <%= image_tag @poll.image.variant(resize_to_limit: [300, 300]) %>
      <% end %>

      <div class="mb-3 form-group">
        <%= form.label :image, class: 'form-label' %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>

      <h6>Options</h6>

      <div id="options">
        <%= form.fields_for :options do |option_form| %>
          <div class="nested-fields mb-2">
            <%= option_form.hidden_field :_destroy %>
            <div class="input-group">
              <%= option_form.text_field :content, class: 'form-control', placeholder: 'Option content' %>
              <div class="input-group-append">
                <button class="btn position-absolute end-0 remove_fields" type="button"><%= icon('fa', 'trash')%></button>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <button type="button" class="btn btn-success" id="add-option-btn"><%= icon('fa', 'plus')%></button>
      
      <br><br>

      <div class='text-center'>
        <%= form.submit actionText, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "packs/polls", defer: true %>
