<div class="container my-5">
  <% content_for :title, "Chi tiết bình chọn" %>
  <div class="card d-flex flex-row justify-content-between p-3 mb-3">
    <h3>Chi tiết bình chọn</h3>
    <div class=button-header>
      <%= link_to "Quay lại", polls_path, class: "btn btn-secondary"%>
      <% unless user_signed_in? %>
        <%= link_to "Đăng nhập", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="card shadow-sm">
    <div class="card-body">

      <h1 class="card-title h3"><%= @poll.title %></h1>
      <p class="card-text text-muted"><%= @poll.description %></p>

      <% if @poll.image.attached? %>
        <div class="mb-4 text-center">
          <%= image_tag @poll.image, class: "img-fluid rounded shadow", style: "max-height: 300px;" %>
        </div>
      <% end %>
      <% can_vote = @poll.anonymous || user_signed_in? %>

      <%= form_with url: vote_poll_path(@poll), method: :post, local: true do %>
        <div class="mb-3">
          <% @poll.options.each do |option| %>
            <div class="form-check">
              <% if @poll.allows_multiple %>
                <%= check_box_tag 'option_ids[]', option.id, false, class: 'form-check-input', id: "option_#{option.id}" %>
              <% else %>
                <%= radio_button_tag 'option_id', option.id, false, class: 'form-check-input', id: "option_#{option.id}" %>
              <% end %>
              <%= label_tag "option_#{option.id}", option.content, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>

        

      <%= submit_tag "Bình chọn", class: "btn btn-primary mt-2", disabled: !can_vote %>

      <% end %>

      <hr class="my-4" />

      <% unless can_vote %>
          <div class="alert alert-warning" role="alert">
            Bạn cần đăng nhập để tham gia bình chọn.
          </div>
        <% end %>
    </div>
  </div>
</div>
