<div class='card'>
  <div class='card-header'>
    <h4><%= actionText %></h4>
  </div>
  <div class='card-body'>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <h4>Errors:</h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with( model: [:admin, @user], local: true, html: { multipart: true }) do |form| %>
      <div class="mb-3 form-group">
        <%= form.label :email, class: 'form-label' %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>

      <div class="mb-3 form-group">
        <%= form.label :user_name, class: 'form-label' %>
        <%= form.text_field :user_name, class: 'form-control' %>
      </div>

      <div class="mb-3 form-group">
        <%= form.label :password, class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control' %>
      </div>

      <div class="mb-3 form-group">
        <%= form.label :avatar, class: 'form-label' %>

        <div data-controller="user--image" data-user--image-initial-url-value="<%= avatar_url_for(@user) %>" class="ms-2 my-3 position-relative input-image-form" data-user--image-target="container">
          <img src="<%= avatar_url_for(@user) %>"
               id="avatar-preview"
               class="img-thumbnail mb-2"
               style="max-width: 100px; max-height: 70px;"
               data-user--image-target="preview"
               <%= "hidden"  unless ((@user.persisted? && @user.avatar.attached?) ||  @user.errors.any?) %> >

          <%= form.hidden_field :remove_avatar, value: false, id: "remove-avatar-flag" %>

          <button type="button"
                  class="btn-close position-absolute top-0 start-0 translate-middle border border-1 rounded-circle"
                  data-action="user--image#removeImage"
                  data-user--image-target="removeBtn"
                  style="z-index: 10;"
                  <%= "hidden"  unless (@user.avatar.attached? || @user.errors.any? ) %>>
          </button>
          <%= form.file_field :avatar,
                          class: 'form-control d-none',
                          id: 'avatar-file',
                          data: { "user--image-target": "fileInput", action: "change->user--image#preview" } %>

          <button type="button"
                  class="btn btn-secondary d-block"
                  id="upload-avatar-btn"
                  data-action="click->user--image#triggerFileDialog">
            Tải ảnh
          </button>
        </div>
      </div>
      <div class='text-center'>
        <%= form.submit actionText, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
